  <div class="blog-header">
    <div class="blog-header-title"><strong><%= blog_title %></strong></div>
    <div class="blog-header-subtitle"><%= blog_subtitle %></div>
    <p class="blog-header-name"><%= name %></p>
  </div>

