  <div class="blog-header">
    <div class="blog-header-title"><%= blog_title %></div>
    <div class="blog-header-subtitle"><%= blog_subtitle %></div>
    <p class="blog-header-name"><%= name %></p>
  </div>

