<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/all.css">
  <link rel="stylesheet" href="/public/styles/create.css">
  <link rel="stylesheet" href="/public/styles/settings.css">
  <link rel="stylesheet" href="/public/styles/login.css">
  <title>Document</title>
</head>

<body>
  <main>
    <form action="" method="" onsubmit="onSubmit(event)">
      <ul>
        <li>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br>
        </li>

        <li>
          <label for="password">Password:</label>
          <input type="text" id="password" name="password" required><br>
        </li>

        <li class="btn-container">
          <button type="submit"l id="login-btn" >Login</button>
        </li>
      </ul>
    </form>

    <script src="/public/js/login.js">
    </script>
  </main>
</body>

</html>
