<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/all.css">
  <title>Document</title>
</head>

<body>
  <main>
  <form action="" method="" onsubmit="onSubmit(event, <%= id %>)">
    <label for="blog_title">title:</label>
    <input type="text" id="blog_title" name="blog_title" value="<%= blog_title %>" required><br>

    <label for="blog_subtitle">subtitle:</label>
    <input type="text" id="blog_subtitle" name="blog_subtitle" value="<%= blog_subtitle %>"required><br>

    <label for="name">author:</label>
    <input type="text" id="name" name="name" value="<%= name %>"required><br>

    <button type="submit">Update</button>
  </form>

  <script src="/public/js/settings.js">
  </script>
  </main>
</body>

</html>
