@font-face {
  font-family: "Lora";
  src: url('../fonts/Lora-VariableFont_wght.ttf') format("truetype-variations");

}

body {
  font-family: "Lora", serif;
}

main {
  margin: auto;
  width: 500px;
}


.blog-header-title {
  font-size: 50px;
}


.blog-header-subtitle {
  font-size: 20px;


.blog-header-name {
  color: darkslategray;
}
