.blog {
  background-color: var(--grey);
  padding: 10px;
  margin: 20px 0;
  color: black;
}

.blog-title {
  font-size: 22px;
}

.published {
  font-size: 10px;
}

.blog-link:hover {
  cursor: pointer;
  background-color: #c98a4b; 
  color: white;
}

a {
    text-decoration: none;
}

.heading {
  font-weight: bold;
  font-size: 32px;
} 

