.blog {
  background-color: #e0dfde;
  padding: 10px;
  margin: 20px 0;
  color: black;
}

.blog-title {
  font-size: 22px;
}

.published {
  font-size: 10px;
}

.blog:hover {
  cursor: pointer;
  background-color: #c98a4b; 
  color: white;
}

a {
    text-decoration: none;
}

